{
  "presets": [ "es2015", "stage-0", "react"],
  /* if you want to use babel runtime, uncomment the following line */
  "plugins": [["import", { "style": "css", "libraryName": "antd-mobile" }]],
  "env": {
    "build": {
      "optional": ["optimisation", "minification"]
    }
  }
}
