article, aside, body, caption, dd, div, dl, dt, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, label, li, menu, nav, ol, p, section, span, table, tbody, td, tfoot, th, thead, tr, ul {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

body {
    font-family: "PingFang SC", "San Fransico", "source Han Sans", Roboto, -apple-system, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #e8e9ec;
    -webkit-overflow-scrolling: touch;
}
