.app {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  & .main {
    width: 100%;
    flex: 1 0 auto;
  }
  & .nav-img {
    background-color: #444;
    flex: 0 0 auto;
  }
}
